@{
    ViewData["Title"] = "Home Page";
}


<div class="typing-text-wrapper">
    <div class="static-txt">I ❤</div>
    <ul class="dynamic-txts">
        <li><span>Programming</span></li>
        <li><span>C#</span></li>
        <li><span>ASP.NET</span></li>
        <li><span>Unity</span></li>
    </ul>
</div>

<!-- GitHub Section Start -->
<section class="text-center">
    <h1>GitHub Stats:</h1>

    <div class="github-container">
        <div id="eiromplays-user-info-card" class="user-info-card"></div>
        <div id="Frozensoft-Games-user-info-card" class="user-info-card"></div>
    </div>
</section>
<!-- GitHub Section End -->

<skills class="skills section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Skills</h2>
        <div class="content">
            <p class="intro">
                My skills:
            </p>

            <div class="skillset">

                <div class="item">
                    <h3 class="level-title">
                        C#<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to explain more about your skill level...">
                            <div class="skill-icon skill-icon-color expert-text">
                                <i class="fas fa-info-circle"></i><span>Intermediate</span>
                            </div>
                        </span>
                    </h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="50%" style="width: 50%;">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">
                        ASP.NET<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to explain more about your skill level...">
                            <div class="skill-icon skill-icon-color expert-text">
                                <i class="fas fa-info-circle"></i><span>Intermediate</span>
                            </div>
                        </span>
                    </h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="50%" style="width: 50%;">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">
                        Unity<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title=""
                                   data-original-title="You can use the tooltip to explain more about your skill level...">
                            <div class="skill-icon skill-icon-color expert-text">
                                <i class="fas fa-info-circle"></i><span>Intermediate</span>
                            </div>
                        </span>
                    </h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="50%" style="width: 50%;">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title">
                        HTML5, CSS3, CSS &amp; JS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to explain more about your skill level...">
                            <div class="skill-icon skill-icon-color expert-text">
                                <i class="fas fa-info-circle"></i><span>Intermediate</span>
                            </div>
                        </span>
                    </h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="60%" style="width: 60%;">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</skills>

@section Scripts
{
    <script src="js/Skillbar.js"></script>
}