/*
    1. Predefined values
    2. Nav, Btn and a Styling
    3. Sticky footer styles
    4. Sections
    5. Skills
    6. GitHub Section
    7. Typing Text
    8. Projects
*/


/* 1. Predefined values */

:root {
    --background-color: #161A1D;
    --primary-red: #E5383B;
    --primary-dark-red: #A4161A;
    --text-color: #D3D3D3;
    --secondary-background-color: #0B090A;
    --header-text-color: #B1A7A6;
    --blood-red: #660708;
    --carnelian: #BA181B;
    --cultured: #F5F3F4;
}

/* Predefined values End */

/* 2. Nav, Btn and a Styling Start */

.gap {
    margin-top: 15vh;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #161A1D !important;
}

a {
    color: var(--primary-red);
}

a:hover {
    color: var(--primary-dark-red);
}

.btn-primary {
    color: var(--cultured);
    background-color: var(--primary-red);
    border-color: var(--primary-dark-red);
}

.btn-primary:hover {
    color: var(--text-color);
    background-color: var(--primary-dark-red);
    border-color: var(--primary-red);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--text-color) !important;
    background-color: var(--primary-red) !important;
    border-color: var(--primary-dark-red) !important;
}

.nav-link {
    color: var(--text-color) !important;
}

/* Nav, Btn and a Styling End */

/* 3. Sticky footer styles */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

.border-top {
    border-top: 2px solid var(--primary-dark-red) !important;
}

.border-bottom {
    border-bottom: 2px solid var(--primary-dark-red) !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Sticky footer styles End */

/* 4. Sections Start */
.sections-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section {
    margin-bottom: 30px;
}

.section .section-inner {
    background: var(--secondary-background-color);
    padding: 30px;
}

.section .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--header-text-color);
    font-size: 24px;
}

.section .content .more-link{
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    top: 5px;
}

/* Sections End */

/* 5. Skills Start */

.skills-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills-wrapper .card {
    background: var(--background-color);
    width: calc(33% - 20px);
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 10px 15px var(--blood-red);
}

.skills-wrapper .card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle .box {
    height: 100%;
    width: 100%;
    background: var(--secondary-background-color);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}

.card .circle:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.skills-wrapper .card .text {
    font-size: 25px;
    background: -webkit-linear-gradient(left, var(--carnelian), var(--primary-dark-red), var(--primary-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle .box span {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
    font-size: 30px;
    font-weight: 600;
}

@media(max-width: 753px) {
    .skills-wrapper {
        max-width: 700px;
    }

    .skills-wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media(max-width: 505px) {
    .skills-wrapper {
        max-width: 500px;
    }

    .skills-wrapper .card {
        width: 100%;
    }
}
/* Skills End */

/* 6. GitHub Section Start */

.github-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-info-card {
    width: 350px;
    background: var(--secondary-background-color);
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 10px 20px #000000, 0 6px 6px #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.github-card-body {
    padding: 20px;
}

.github-card-avatar {
    padding: 10px;
}

.github-card-item-info {
    display: inline-block;
}

.github-card-row {
    display: flex;
}

.items-space-between {
    justify-content: space-between;
}

.github-read-more-icon {
    color: var(--primary-red);
}

.github-card-avatar img {
    height: 300px;
}

/* GitHub Section Responsive Start */
@media only screen and (max-width: 600px) {
    .user-info-card {
        width: 300px;
        background: var(--secondary-background-color);
        border-radius: 2px;
        display: inline-block;
        margin: 1rem;
        box-shadow: 0 10px 20px #000000, 0 6px 6px #000000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .github-card-avatar img {
        height: 250px;
    }
}
/* GitHub Section Responsive End */

/* GitHub Section End */

/* 7. Typing Text Start */
.typing-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    min-height: 25vh;
}

.typing-text-wrapper .static-txt {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 400;
}

.typing-text-wrapper .dynamic-txts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: var(--primary-red);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid var(--primary-red);
    animation: typing 3s steps(10) infinite;
    background: var(--background-color);
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

/* Typing Text End */

/* Projects Start */

.projects-wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.projects-wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--secondary-background-color);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.projects-wrapper .row {
    display: flex;
}

.projects-wrapper .row-1 {
    justify-content: flex-start;
}

.projects-wrapper .row-2 {
    justify-content: flex-end;
}

.projects-wrapper .row section {
    background: var(--secondary-background-color);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.projects-wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--background-color);
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: var(--secondary-background-color);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--primary-red);
    font-size: 17px;
    box-shadow: 0 0 0 4px var(--primary-red), inset 0 2px 0 #000000, 0 3px 0 4px #000000;
    box-shadow: 0 0 0 4px var(--primary-dark-red), inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.center-line .scroll-icon {
    bottom: 0;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row section .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row section .bottom a {
    text-decoration: none;
    background: var(--primary-red);
    color: var(--text-color);
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    transform: scale(0.97);
}

@media(max-width: 790px) {
    .projects-wrapper .center-line {
        left: 40px;
    }

    .projects-wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .projects-wrapper .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media(max-width: 440px) {
    .projects-wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .projects-wrapper .row {
        margin: 10px 0;
    }
}

/* Projects End */